[submodule "Fish/vendor/spdlog"]
	path = Fish/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fish/vendor/GLFW"]
	path = Fish/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Fish/vendor/imgui"]
	path = Fish/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Fish/vendor/glm"]
	path = Fish/vendor/glm
	url = https://github.com/icaven/glm
